.page-footer-wrapper {
    display: flex;
    flex-direction: column;
}

.page-footer__item {
    box-sizing: border-box;
    background-color: #f2f2f2;
    border-bottom: 1px solid rgb(217, 217, 217);
}

.page-footer__logo {
    padding: 14px 0 31px 0;
    text-align: center;
}

.social__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 21px 0;
    margin: 0 auto;
    width: 127px;
    list-style: none;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__link--name {
    font-family: "Arial";
    font-style: normal;
    font-style: 16px;
    font-weight: 16px;
    color: #444444;
    text-decoration: none;
}
